<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled list-group">
      {{#each}}
        {{#if question}}
          <li class="list-group-item">
            {{#link-to "question" id}}{{question}}{{/link-to}}
            <span class="upvotes pull-right badge">{{upvotes}} upvotes</span>
            <span class="pull-right">asked by <span class="text-info">{{author}}</span></span>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6">

    {{#if addingQuestion}}

      {{outlet}}

    {{else}}

      <span {{action "newQuestion"}}>
        {{#link-to "new-question" class="btn btn-info"}}Ask a new question{{/link-to}}
      </span>

    {{/if}}
  </div>
</div>
