<div class="row">
  <div class="col-md-6">

    {{#if isEditing}}

      <form>
        <div class="form-group">
          <label for="question">Question:</label>
          {{input id="question" value=question class="form-control"}}
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          {{input id="author" value=author class="form-control"}}
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          {{input id="description" value=description class="form-control"}}
        </div>

        <button class="btn btn-success" {{action "save"}}>Post changes</button>
      </form>

    {{else}}

      <h2>{{question}}</h2>
      <h4>Asked by: {{author}}</h4>
      <h5>Description: {{description}}</h5>
      <h5>{{upvotes}} upvotes</h5>

      <button class="btn btn-warning btn-sm" {{action "edit"}}>Edit</button>
      <button class="btn btn-danger btn-sm" {{action "delete"}}>Delete</button>
      {{#link-to "new-answer" this class="btn btn-primary btn-sm"}}Answer{{/link-to}}
      <button class="btn btn-success btn-sm" {{action "upvote"}}>Upvote</button>

      <br>
      <br>

      {{#if answersDisplayed}}

        {{outlet "answers"}}

      {{else}}

        <span {{action "displayAnswers"}}> {{#link-to "answers" id}} Display answers {{/link-to}} </span>

      {{/if}}

    {{/if}}

  </div>

  <div class="col-md-6">
    {{outlet "new-answer"}}
  </div>
</div>
